@media screen and (max-width: 1200px) {
    #desktopnav {
      display: none;
    }
    #hamburger-nav {
      display: flex;
    }
    .down-arrow {
      bottom: 100px;
    }
    
    #about{
      height: fit-content;
      width: 100%;
      .right{
        display: none;
      }
      .left{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        text-align: center;
        gap: 10px;
        width: 100vw;
        .greet{
          text-align: center;
          
        }
        .name{
          text-align:center;
          font-size: 2rem;
        }
        .intro{
          text-align: center;
          font-size: 1.25rem;
        }
        .fd{
          text-align: center;
          font-size: 1rem;
        }
        .desc{
          display: none;
        }
        .ct{
          
        }
      }
    .btn-group{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .ct{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;
      }
    }
    .btn-group2{
      justify-content: center;
      align-items: center;
    }
    }
    #nextSection{
      height: 87.5vh;
      width: 100%;
    }
  }