@media screen and (max-width: 1200px) {
    #desktopnav {
      display: none;
    }
    #hamburger-nav {
      display: flex;
    }
    .right {
    display: none;
  }

  .left {
    flex: 1 1 100%;
    width: 100%;
    .greet {
      text-align: center;
    }
  }

  .hamburger {
    display: block;
  }
.split-container {
    flex-direction: column;
  }

.left-section{
  width: 100%;
  height: 40vh;
}
  .right-section {
    width: 100%;
    height: 60vh;
  }
    .btn-container {
        flex-direction: column;
        align-items: center;
      }
}

@media screen and (max-width: 1200px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 20px;
    background: linear-gradient(90deg, rgb(121, 78, 173), #40406d);
    border-radius: 8px;
    flex-direction: column;
    width: 25vw;
    display: none;
    padding: 1rem;
    color: white;
    
  }

a {
  color: white;
  text-decoration: none;
  text-decoration-color: white;
  gap: 2rem;
}
.nav-links a:hover {
  color: #eeeeee;
  text-decoration: none;
  /* text-underline-offset: 0.75rem; */
  text-decoration-color: #fefefe;
}
  .nav-links.active {

    display: flex;
  }
  .title{
    display: none;
  }
  .title2{
    display: flex;
  }
}
@media (min-width: 1201px) {
  #hamburger {
    display: none;
  }

  .nav-links {
    display: flex !important;
    flex-direction: row;
  }

